<div id="<%= dom_id guide %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= guide.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= guide.body %>
  </p>

</div>
